@model AnimationModel

@{ 
    ViewBag.Title = "Delete Animation";
}

<div class="text-center">
    <h1 class="display-4">Group 8 --Hobbies</h1>
    <h2>@ViewBag.Title</h2>

    <h3>Are you sure you want to delete this?</h3>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="AnimeId" />

        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-controller="Animation" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
