@{
    ViewData["Title"] = "Gaming Page";
}

<div class="text-center">
    <h1 class="display-4">Group 8 - Hobbies</h1>
<h2 style=text-align:center;>@ViewData["Title"]</h2>
</div>
<body> <!-- style="background-color:#C0C0C0;"-->
	<div id="wrapper">
		<header>
		</header>
		<main>
			<P> info about the hobby will be contained here. for example, why you like it, reasoning for table elements,
				etc.
			</p>
			<p> this is a demo table. it obviously doesn't have data fed into it but this is what the tables will look
				like. i will change the styling for the table later on.
			<table>
				<tr>
					<th>Game</th>
					<th>Rating</th>
					<th>Playtime</th>
				</tr>
				<tr>
					<td>Super Mario 64</td>
					<td>10</td>
					<td>11 hours</td>
				</tr>
				<tr>
					<td>Rocket League</td>
					<td>9.5</td>
					<td>300 hours</td>
				</tr>
			</table>
			</p>
		</main>
		<footer>
			Copyright &copy; 2022 University of Cincinnati, IT3047C<br>
			<a href=https://github.com/Xiao0909/Group8_Hobbies>Github Repo!</a>
		</footer>
	</div>
</body>

</html>
