@{
    ViewData["Title"] = "Gaming Page";
}

<div class="text-center">
    <h1 class="display-4">Group 8 - Hobbies</h1>
	<h2 style=text-align:center;>@ViewData["Title"]</h2>
</div>
<body> <!-- style="background-color:#C0C0C0;"-->
	<div id="wrapper">
		<header>
		</header>
		<main>
			    <p>
        Insert Gaming information here! Should be roughly 3 sentences explaining the table and how to relates to the page.
				</p>
			<table>
				<tr>
					<th>Game</th>
					<th>Rating</th>
					<th>Playtime</th>
				</tr>
				<tr>
					<td>Super Mario 64</td>
					<td>10</td>
					<td>11 hours</td>
				</tr>
				<tr>
					<td>Rocket League</td>
					<td>9.5</td>
					<td>300 hours</td>
				</tr>
			</table>
			</p>
		</main>
	</div>
</body>

