@{
    ViewData["Title"] = "Gaming Page";
}

<div class="text-center">
    <h1 class="display-4">Group 8 - Hobbies</h1>
    <h2 style=text-align:center;>@ViewData["Title"]</h2>
    <div id="wrapper">
        <header>
        </header>
        <main>
            <p>
                Insert Gaming information here! Should be roughly 3 sentences explaining the table and how to relates to the page.
            </p>
        </main>
    </div>
</div>

