@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Group 8 --Hobbies</h1>
    <h2>Sports Page</h2>
    <p>Page Name: @ViewBag.Title</p>
    <p>Page Description: @ViewBag.Description</p>
    <p>Wins: @ViewBag.Wins</p>
</div>

<div class="table">
    <table>
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
