<!DOCTYPE html>
<html lang="en">

<head>
    <title> Sports </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="HSS.css">
</head>

<body style="background-color:#C0C0C0;">
    <div id="wrapper">
        <h1>
            OurHobbies.com
        </h1>
        <nav>
            <a href="home.html">HOME</a> &nbsp;
            <a href="aboutus.html">ABOUT US</a> &nbsp;
            <a href="animation.html">ANIMATION</a> &nbsp;
            <a href="gaming.html">GAMING</a> &nbsp;
            <a href="running.html">RUNNING</a> &nbsp;
            <a href="sports.html">SPORTS</a> &nbsp;
        </nav>
        <header>
        </header>
        <main>
            <h2> Sports Info! </h2>
            <p> info about the hobby will be contained here. for example, why you like it, reasoning for table elements,
                etc.</p>
            <p> this is a demo table. it obviously doesn't have data fed into it but this is what the tables will look
                like. i will change the styling for the table later on.
            <table>
                <tr>
                    <th>Sports Team</th>
                    <th>Wins</th>
                    <th>Losses</th>
                </tr>
                <tr>
                    <td>Golden State Warriors</td>
                    <td>73</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Cincinnati Bengals</td>
                    <td>13</td>
                    <td>8</td>
                </tr>
            </table>
            </p>
        </main>
        <footer>
            Copyright &copy; 2022 University of Cincinnati, IT3047C<br>
            <a href=https://github.com/Xiao0909/Group8_Hobbies>Github Repo!</a>
        </footer>
    </div>
</body>

</html>