@{
    ViewData["Title"] = "Running Page";
}

<div class="text-center">
    <h1 class="display-4">Group 8 - Hobbies</h1>
    <h2 style=text-align:center;>@ViewData["Title"]</h2>
</div>
<body> <!-- style="background-color:#C0C0C0;"-->
    <div id="wrapper">
        <main>
            <P> info about the hobby will be contained here. for example, why you like it, reasoning for table elements,
                etc.
            </p>
            <p> this is a demo table. it obviously doesn't have data fed into it but this is what the tables will look
                like. i will change the styling for the table later on.
            <table>
                <tr>
                    <th>Running</th>
                    <th>Distance</th>
                    <th>Location</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td>Grand Canyon</td>
                    <td>30 miles</td>
                    <td>Arizona</td>
                    <td>2 hours</td>
                </tr>
                <tr>
                    <td>Trail</td>
                    <td>10 miles</td>
                    <td>Ohio</td>
                    <td>30 minutes</td>
                </tr>
            </table>
            </p>
        </main>
        <footer>
            Copyright &copy; 2022 University of Cincinnati, IT3047C<br>
            <a href=https://github.com/Xiao0909/Group8_Hobbies>Github Repo!</a>
        </footer>
    </div>
</body>
