<!DOCTYPE html>
<html lang="en">

<head>
	<title> Hobbies! </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="HSS.css">

</head>

<body style="background-color:#C0C0C0;">
	<div id="wrapper">
		<h1>
			OurHobbies.com
		</h1>
		<nav>
			<a href="home.html">HOME</a> &nbsp;
			<a href="aboutus.html">ABOUT US</a> &nbsp;
			<a href="animation.html">ANIMATION</a> &nbsp;
			<a href="gaming.html">GAMING</a> &nbsp;
			<a href="running.html">RUNNING</a> &nbsp;
			<a href="sports.html">SPORTS</a> &nbsp;
		</nav>
		<header>
		</header>
		<main>
			<h2> Welcome to <span class=hobbyColor>OurHobbies.com</span></h2>
			<p>OurHobbies.com is a website dedicated to the hobbies of the members of Group 8 from IT3047C. We chose to
				dedicate a page to each of our hobbies that are filled with info about our hobbies along with a table
				detailing various information relating to these hobbies.</p>
		</main>
		<div id="heroHome" title="Placeholder">
		</div>
		<footer>
			Copyright &copy; 2022 University of Cincinnati, IT3047C<br>
			<a href=https://github.com/Xiao0909/Group8_Hobbies>Github Repo!</a>
		</footer>
	</div>
</body>

</html>