@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Group 8 - Hobbies</h1>
<h2 style=text-align:center;>@ViewData["Title"]</h2>
</div>

<body> <!-- style="background-color:#C0C0C0;"-->
	<div id="wrapper">
		<header>
		</header>
		<main>
			<h2> Welcome to <span class=hobbyColor>OurHobbies.com</span></h2>
			<p>OurHobbies.com is a website dedicated to the hobbies of the members of Group 8 from IT3047C. We chose to
				dedicate a page to each of our hobbies that are filled with info about our hobbies along with a table
				detailing various information relating to these hobbies.</p>
		</main>
		<div id="heroHome" title="Placeholder">
		</div>
		<footer>
			Copyright &copy; 2022 University of Cincinnati, IT3047C<br>
			<a href=https://github.com/Xiao0909/Group8_Hobbies>Github Repo!</a>
		</footer>
	</div>
</body>
