@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Group 8 - Hobbies</h1>
    <h2 style=text-align:center;>@ViewData["Title"]</h2>
</div>
<body>
    <!-- style="background-color:#C0C0C0;"-->
    <div id="wrapper">
        <header>
        </header>
        <main>
            <img src="~/images/hobbyCollage.jpg"
                 style="height: 500px;
			width: 500px;
			background-size: 100% 100%;
			display: block;
			margin-left: auto;
			margin-right: auto;" />

            <p>
                Welcome to the Group 8 Hobby Website! This is a website that is dedicated to the hobbies of the members of Group 8 from IT3047C. We chose to
                dedicate a page to each of our hobbies that are filled with info about our hobbies along with a table
                detailing various information relating to these hobbies.
            </p>
        </main>
    </div>
</body>